#typed-setup {
  font-size: 0.8rem;
  text-align: center;
}
#typed-delivery {
  font-size: 0.8rem;
  text-align: center;
  h1 {
    background: #ffb76b;
    background: linear-gradient(
      to right,
      #ffb76b 0%,
      #ffa73d 30%,
      #ff7c00 60%,
      #ff7f04 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
  }
}
