* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  text-align: center;
}

.chip {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  border-radius: 9999px;
  padding: 0.5rem 0.5rem;
}

.chip-content {
  margin-right: 0.25rem;
}
