/* You can add global styles to this file, and also import other style files */
/* iOS */
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  position: relative;
  height: 99vh;
  border-radius: 6px;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
